@font-face {
	font-family: Italiana-Regular;
	src: url('../fonts/Italiana-Regular.ttf') format('truetype');
}

@font-face {
	font-family: JosefinSlab-Regular;
	src: url('../fonts/JosefinSlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: GenBasR;
	src: url('../fonts/GenBasR.ttf') format('truetype');
}

@font-face {
	font-family: Signika-Light;
	src: url('../fonts/Signika-Light.ttf') format('truetype');
}

@font-face {
	font-family: Signika-Regular;
	src: url('../fonts/Signika-Regular.ttf') format('truetype');
}

@font-face {
	font-family: JosefinSans-Regular;
	src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

.font--Signika {
    font-family: JosefinSans-Regular;
}

.font--Signika-slab {
    font-family: JosefinSlab-Regular;
}

.font--OilCan {
    font-family: 'Oil Can';
}

.font--Italiana {
    font-family:Italiana-Regular;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: JosefinSans-Regular;
}

img {
    border: 0;
}

* {
    box-sizing: inherit;
}

.main {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 20% 0 20%;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
    position: relative;
    width: 100%;
    padding: 0 20% 0 20%;
}

.header, .header-with-divider {
    border-top: 1px solid #efe2d6;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding-top: 3em;
    padding-bottom: 2em;
}

.font--large {
    font-size: 48px;
}

#welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/pictures/welcome.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#manulife {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/pictures/manulife.png");
    background-size: cover;
    background-position: center;
}

#gyptech {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/pictures/gyptech2.jpg");
    background-size: cover;
    background-position: center;
}

#binaryClock {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/pictures/binaryClock.jpg");
    background-size: cover;
    background-position: center;
}

#l5kcompiler {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/pictures/L5KCompiler.png");
    background-size: cover;
    background-position: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 10% 0 10%;
}

.welcome--link-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    padding: 5% 25% 10% 25%;
}

.welcome--link {
    flex: 1;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
} 

.welcome--title {
    color: white;
    font-size: 3.5em;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: right;
}

.welcome--sub-title {
    color: white;
    font-size: 1.5em;
    font-weight: 400;
}

p, h1 {
    line-height: 1.75em;
    padding-left: .5em;
    padding-right: .5em;
}

.white {
    color: #ffffff;
}
.portrait {
    max-width: 135px;
    height: auto;
}

.monkeys {
    position: relative;
    top: 10px;
    max-width: 100px;
    height: auto;
}

.image--horizontal-flip {
    transform: scaleX(-1);
    filter: FlipH;
}

.background--black {
    background-color: #000000;
}

.background--med {
    background-color: #1b5e20;
}

.background--dark {
    background-color: #001800;
}

.background--beige {
    background-color: #F8F5F5;
}

.background--dark-beige {
    background-color: #F4F0ED;
}

.text--centered {
    text-align: center;
}

.details {
    padding-top: 5em;
    padding-bottom: 10em;
    height: 100%;
}

    .text--centered::after {
        display: block;
        position: absolute;
        content: '';
        width: 100px;
        height: 100px;
        bottom: -50px;
        left: 50%;
        margin-left: -50px;
        background-color: #F4F0ED;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-left: 1px solid #efe2d6;
        border-top: 1px solid #efe2d6;
    }

.parallax {
    /* The image used */
    background-image: url("/Images/welcome.jpg");
    /* Full height */
    height: 100vh;

}

.work {
    display: flex;
    flex-direction: row;
    height: 380px;
}

.work--tile {
    position: relative;
    width: 50%;
}

.work--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient( rgba(64, 56, 43, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

    .work--overlay:hover {
        opacity: 1;
    }

    .work--overlay:hover .work--popup {
        transform: translateY(-10%);
    }

.work--popup {
    position:absolute;
    top: 40%;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    line-height: normal;
    text-align: center;
    transition: all 0.3s ease-out;
}

.work--image {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: inherit;
    text-align: center;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work--details {
    position: absolute;
    line-height: normal;
    max-width: 100%;
    max-height: 100%;
    text-align: right;
    padding-right: 1em;
    padding-top: 1em;
    top: 0;
    right: 0;
}

.work--button-link {
    background: #ad9e85;
    color: #5b503d;
    padding: 0.4em 1.8em 0.35em;
    margin: 0 auto;
    border: 1px solid #c5b395;
    font-size: 0.95em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}

.work--title {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
}

.work--link-wrapper {
    text-align: center;
}

.mini {
    font-size: 0.2em;
}

.footer {
    box-sizing: inherit;
    padding: 64px 0;
    position: relative; 
    text-align: center;
}

.footer--title {
    font-size: 2.5em;
    margin: 0;
    padding-bottom: 0.5em;
}

.footer--socialMedia {
    text-align: center;
    flex-direction: row;
    margin: 0 25%;
}

.footer--socialMedia-item {
    text-decoration: none;
    color: black;
    padding: 0 4%;
}